* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px solid red; remove later */
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

#header,
.imageContainer,
.subtitle {
    padding: 50px;
    text-align: center;
}

.recipelist {
    /* padding: 20px; */
}